Source: rtw89
Section: misc
Priority: optional
Maintainer: lwfinger <Larry.Finger@lwfinger.net>
Build-Depends: debhelper (>= 11),
                dkms,
                dh-modaliases
Standards-Version: 4.1.3
Vcs-Browser: https://github.com/lwfinger/rtlrtw89
Vcs-Git: https://github.com/lwfinger/rtlrtw89.git

Package: rtw89-dkms
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, bc, rtw89-firmware
Conflicts: rtw8852be-dkms
XB-Modaliases: ${modaliases}
Description: DKMS files to build and install rtl8852be
 The rtl8852ae driver provides the driver for USB wifi adapter.
 This package contains the DKMS files to build and install rtl8852be.
 To install this package, you have to install the header files for your
 current kernel manually (usually included in the "linux-headers-<your
 architecture>").

Package: rtw89-firmware
Architecture: all
Depends: ${misc:Depends}
Description: Firmware for Realtek RTW89 devices
 WiFi firmware drivers for the the following parts:
 .
 * Realtek RTW8852AE, RTW8852BE, and RTW8852CE.
