#
# Chrome OS Embedded Controller managed sensors library
#

config IIO_CROS_EC
	bool "ChromeOS EC Sensors"
	depends on MFD_CROS_EC
	help
	  Select this option to enable support for sensors connected
	  through the Embedded Controller in ChromeOS systems.

if IIO_CROS_EC

config IIO_CROS_EC_SENSORS_CORE
	tristate "ChromeOS EC Sensors Core"
	depends on SYSFS && CROS_EC_SENSORHUB
	select IIO_BUFFER
	select IIO_TRIGGERED_BUFFER

config IIO_CROS_EC_SENSORS
	tristate "ChromeOS EC Contiguous Sensors"
	depends on SYSFS && CROS_EC_SENSORHUB
	select IIO_CROS_EC_SENSORS_CORE
	help
	  Module to handle 3d contiguous sensors like
	  Accelerometers, Gyroscope and Magnetometer that are
	  presented by the ChromeOS EC Sensor hub.
	  Creates an IIO device for each functions.

config IIO_CROS_EC_LIGHT_PROX
	tristate "ChromeOS EC Light and Proximity Sensors"
	depends on SYSFS && CROS_EC_SENSORHUB
	select IIO_CROS_EC_SENSORS_CORE
	help
	  Module to handle Light and Proximity sensors
	  presented by the ChromeOS EC Sensor hub.
	  Creates an IIO device for each functions.
	  Only one source is exposed by the EC.

config IIO_CROS_EC_BARO
	tristate "ChromeOS EC Barometer Sensor"
	depends on SYSFS && CROS_EC_SENSORHUB
	select IIO_CROS_EC_SENSORS_CORE
	help
	  Module to handle Barometer sensor when
	  presented by the ChromeOS EC Sensor hub.

config IIO_CROS_EC_ACTIVITY
	tristate "ChromeOS EC Activity Sensors"
	depends on SYSFS && CROS_EC_SENSORHUB
	select IIO_CROS_EC_SENSORS_CORE
	help
	  Module to handle activity events detections presented by the ChromeOS
	  EC Sensor hub.
	  Activities can be simple (low/no motion) or more complex (riding train).
	  They are being reported by physical devices or the EC itself.
	  Creates an IIO device to manage all activities.

config IIO_CROS_EC_SENSORS_RING
	tristate "ChromeOS EC Sensors Ring"
	depends on IIO_CROS_EC_SENSORS || IIO_CROS_EC_LIGHT_PROX
	help
	  Add support for handling sensor events FIFO produced by
	  the sensor hub.
	  A single device with a buffer will collect all samples produced
	  by the sensors managed by the CroEC sensor hub.

endif
