config VIDEO_MEDIATEK_ISP_PASS1
	tristate "Mediatek ISP Pass 1 driver"
	depends on VIDEO_V4L2 && VIDEO_V4L2_SUBDEV_API
	depends on ARCH_MEDIATEK
	select V4L2_FWNODE
	select VIDEOBUF2_VMALLOC
	select VIDEOBUF2_DMA_CONTIG
	select MTK_SCP
	default n
	help
		Pass 1 driver controls 3A (auto-focus, exposure,
		and white balance) with tuning feature and outputs
		the captured image buffers in Mediatek's camera system.

		Choose y if you want to use Mediatek SoCs to create image
		captured application such as video recording and still image
		capturing.

config VIDEO_MEDIATEK_ISP_DIP
	tristate "Mediatek Digital Image Processing function"
	select MTK_SCP
	depends on VIDEO_MEDIATEK_MDP3
	select VIDEO_V4L2_SUBDEV_API
	select VIDEOBUF2_DMA_CONTIG
	select VIDEOBUF2_CORE
	select VIDEOBUF2_V4L2
	select VIDEOBUF2_MEMOPS
	select MEDIA_CONTROLLER

	default n
	help
	    Support the basic Digital Image Processing (DIP) driver.

	    DIP driver provides image format conversion, resizing,
	    and rotation function through the low power hardware.
	    DIP also supports multiple output feature. It can
	    generate two or more output image with different effect
	    based on a single input image at the same time.

config MTK_SENINF
	tristate "Mediatek mipi csi2 driver"
	depends on VIDEO_V4L2 && VIDEO_V4L2_SUBDEV_API
	depends on MEDIA_CAMERA_SUPPORT
	select V4L2_FWNODE

	default n
	help
	    This driver provides a mipi-csi2 host driver used as a
	    interface to connect camera with Mediatek's
	    MT8183 SOCs. It is able to handle multiple cameras
	    at the same time.

	    Choose y if you want to use Mediatek SoCs to create image
	    capture application such as video recording and still image
	    capture.

