config QTI_CCI
	bool "Qualcomm CCI driver"
	default y
	help
	  Say Y here to enable selecting module
	  Support for the synchronous QUP based I2C interface

config QTI_I2C
	bool "Qualcomm I2C driver"
	default y
	help
	  Say Y here to enable selecting module
	  Support for the synchronous GENI based I2C interface

config QTI_SPI
	bool "Qualcomm SPI_GENI driver"
	default y
	help
	  Say Y here to enable selecting module
	  Support for the GENI based Serial Peripheral Interface
