config ESD_FS
	tristate "Emulated 'SD card' file system for Android (EXPERIMENTAL)"
	depends on PKGLIST
	depends on USER_NS
	help
	  Esdfs is a wrapfs-based file system, designed to implement the
	  Android "sdcard" FUSE-backed file system from within the kernel.
