config QTI_LRME
	bool "Qualcomm LRME driver"
	default n
	depends on (QTI_CAMERA_SYNC && QTI_CAMERA_SMMU && QTI_CAMERA_CRM)
	help
	  Say Y here to enable selecting module
	  Support for the LRME engine
